{
    "printWidth": 100,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "auto"
}